{{#single}}
    <div class="row">
        <div class="col-md-2 text-right">
            <p><b>Subject: </b></p>
            <p><b>From: </b></p>
            <p><b>To: </b></p>
            <p><b>Date: </b></p>
            <p><b>Folder: </b></p>
            <p><b>Attachments: </b></p>
        </div>
        <div class="col-md-3">
            <p>{{subject}}{{^subject}}-{{/subject}}</p>
            <p>{{getSenderEmailAddress}}</p>
            <p>{{recievedAdress}}</p>
            <p>{{messageDeliveryTime}}</p>
            <p>{{folderName}}</p>
            <p>{{getNumberOfAttachments}}</p>
        </div>
        <div class="col-md-2 text-right">
            <p><b>CC: </b></p>
            <p><b>BCC: </b></p>
            <p><b>Is Read: </b></p>
            <p><b>Importance: </b></p>
            <p><b>Size: </b></p>
        </div>
        <div class="col-md-3">
            <p>{{displayCC}}{{^displayCC}}-{{/displayCC}}</p>
            <p>{{displayBcc}}{{^displayBcc}}-{{/displayBcc}}</p>
            <p>{{isRead}}</p>
            <p>{{importance}}</p>
            <p>{{getMessageSize}}</p>
        </div>

    </div>
    <div class="row">
        <pre style="color:#000;">
            <p>{{emailBody}}</p>
        </pre>
    </div>
{{/single}}