{{> header}}

    <body>
    <div id="wrapper">
        {{> nav}}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Help</h1>
                </div>
                <div class="col-md-12">
                    <div class="well">
                        <p>
                            Test variable passing - "{{test}}" <br/>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto beatae dolorum ducimus eius ipsam obcaecati officia saepe sit vero. Culpa earum minus quibusdam veniam voluptate. Consequatur fugiat id laborum?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci doloribus error est et eum itaque minima molestias natus, nemo nisi odio placeat praesentium quam reiciendis rerum, tempore voluptatum!
                        </p>

                    </div>
                </div>
            </div>
        </div>

{{> footer}}