{{> header}}

    <body>

    <div id="wrapper">
        {{> nav}}

        <div class="row">
            <div class="col-md-3">
                {{> treeview}}
            </div>

            <div class="col-md-4">
                    <form action="/pst-path" method="post" name="uploadForm">
                        <p><label for="trazeniPojam">Unesite traženi pojam:</label></p>
                        <p><input id="trazeniPojam" type="text" class="form-control" name="trazeniPojam"></p>
                        <p><label for="kriterij">Odaberite kriterij pretraživanja:</label></p>
                        <p>
                            <select name="kriterij" class="form-control" id="kriterij">
                                <option value=""></option>
                                <option value="from">From</option>
                                <option value="to">To</option>
                                <option value="subject">Subject</option>
                            </select>
                        </p>

                        <p><button id="trazi" name="trazi" class="btn btn-primary fa fa-search">Traži</button></p>
                    </form>
            </div>
        </div>
    </div>

    </body>
{{> footer}}