<div class="tree well">
    <ul>
        <li>
            <span><i class="fa fa-folder-open"></i>PST file</span>
            <ul>
                <li>
                	<span><i class="fa fa-cloud-download"></i>Inbox</span>
                    <ul>
                        <li>
	                        <span><i class="fa fa-envelope"></i>Message</span>
                        </li>
                    </ul>
                </li>
                <li>
                	<span><i class="fa fa-cloud-upload"></i>Sent</span>
                </li>
                <li>
                    <span><i class="fa fa-users"></i>Contacts</span>
                </li>
                <li>
                    <span><i class="fa fa-search"></i><a href="/search">Search</a></span>
                </li>
            </ul>
        </li>
    </ul>
</div>

