body{
    padding-top: 100px;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;

    text-align: center;
}
.tree {
    font-size: 1.1em;
    min-height:20px;
    padding:7px;
    margin-bottom:20px;
    background-color: rgba(189, 192, 248, 0.20);
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li a{
    text-decoration: none;
    color: inherit;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    color:#000;
}

.mail-top{
   height: 350px;
}

tbody {height: 450px; overflow: scroll;}

.tablecontainer{
    height: 400px;
    border: 1px solid #cccccc;
    overflow: scroll;
}

.singlecontainer{
    margin-top: 25px;
    border-top: 1px solid #cccccc;
    padding: 20px;
}

.flat-box{
    padding:25px;
    background-color: #2c3e50;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}
.flat-box h2,
.flat-box p{
    color: #ffffff;
}